//esta pagina muestra el id del juego actual para que el usuario pueda preguntar el estado del juego
doctype html
html
    head
        meta(charset= 'utf-8')
        title= 'Game'
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        //se toma el id del juego actual y se muestra
        h1= gameToMenu.id
        h2='id Of Game'
        form(method='POST', action= '/StatusGame' , name='GameStatusMenu' )
            table
                tr
                    td
                        input(type="text" , placeholder='idGame' , name= 'idGame',size='30' , required)
                tr
                    td(colspan='2', align='right')
                        input(type='submit' , value='Status')
